<div class="col-12 col-md-3 sidebar-offcanvas" id="sidebar">
  <h2 class="side-ttl">カテゴリから探す</h2>
  <ul class="list-group agw_side-list">
    <% @tags.each do |tag| %>
      <%= link_to tag.name, root_path(tag_id: tag.id),
        class: "list-group-item
               #{params[:tag_id] == tag.id.to_s ? "active" : ""}"
      %>
    <% end %>
  </ul>

</div><!--/span-->
